.side-drawer {
  z-index: 9;
  // position: fixed;
  // bottom: 0;
  max-width: calc(100% - 82px);
  // overflow-y: auto;
  background: white;
  border-right: 1px solid $border-color;

  .dark & {
    background: $dark-color;
    border-right-color: $dark-border-color;
  }

  .drawer__title {
    padding-left: 44px;
  }
}

.drawer {
  &__close {
    position: absolute;
    top: 10px;
    left: 4px;
    cursor: pointer;
  }

  &__title {
    padding: 21px 20px 19px 21px; // 21px 20px 19px 55px;
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: 400;
    border-bottom: 1px solid $border-color;

    .dark & {
      border-bottom-color: $dark-border-color;
    }
  }

  &__content {
    // position: absolute;
    // top: 65px;
    // left: 0;
    // bottom: 10px;
    // right: 0;
    // overflow-x: hidden;
    // overflow-y: auto;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;

    // @media only screen and (max-width: $mobile-breakpoint) {
    //   padding: 10px;
    // }
  }
}

.drawer-poi {
  border-bottom: 1px solid $border-color;

  .dark & {
    border-bottom-color: #11111138;
  }
}
